.posts {
    margin: 0 20px 30px 20px;
}


._111 {
    background-color: #817f7c23;
    height: 80px;
    margin-top: 20px;
    padding: 10px 0 0 10px;
    color: #50505075;
} ._222 {
    background-color: #1dbfac41;
    color: #5e5e5e;
    width: 9%;
    padding: 5px 0px 6px 36px;
    margin: 10px 0px 50px 0px;
    border-radius: 33px 59px 9px 51px;
}

