.chat {
    grid-area: chat;
    background-color: #004ac714;
    margin-top: 55px;
    margin-right: 35px;
    border-radius: 20px;
    padding: 25px 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.message_items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #fdfdfd;
    min-height: 30vh;
    max-height: 45vh;
    width: 80%;
    margin-left: 20px;
    padding: 20px;
    border: 1px dotted #bbcbc8;
    border-radius: 20px;
}
.message_area {
    margin-top: 10px;
    resize: none;
    width: 550px;
    height: 7vh;
    border: none;
    border-radius: 15px;
    padding: 10px;
} .message_area:focus-visible {
    outline: none;
  }
.send {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    margin: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 15px;
}